<p-table [value]="itemTypeList" [resizableColumns]="true"
selectionMode="single" [(selection)]="selectedItemType" 
[autoLayout]="true" (onRowSelect)="onRowSelect($event)"
(onRowUnselect)="onRowUnselect()"
 dataKey="code" styleClass="p-datatable-striped p-datatable-gridlines p-datatable-sm">
    <ng-template pTemplate="header" styleClass="w-full">
        <tr>
            <th pResizableColumn>Short description</th>
            <th pResizableColumn>Nature</th>
            <th pResizableColumn>Selling</th>
            <th pResizableColumn>Int. IT</th>
            <th pResizableColumn>Valid</th>
            <th pResizableColumn>Specific Type</th>
            <th pResizableColumn>Quality</th>
            <th pResizableColumn>Lot</th>
            <th pResizableColumn>Container</th>
            <th pResizableColumn>Element</th>
            <th pResizableColumn>Project</th>
            <th pResizableColumn>Customer</th>
            <th pResizableColumn>Supplier</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-itemType>
        <tr class="cursor-pointer" [pSelectableRow]="itemType">
            <td>{{itemType.shortText}}</td>
            <td>{{itemType.itemNature}}</td>
            <td>{{itemType.sellingType}}</td>
            <td></td>
            <td>{{itemType.valid}}</td>
            <td></td>
            <td>{{itemType.qualityControlled}}</td>
            <td>{{itemType.lotControlled}}</td>
            <td>{{itemType.containerControlled}}</td>
            <td>{{itemType.elementControlled}}</td>
            <td>{{itemType.projectControlled}}</td>
            <td>{{itemType.customerControlled}}</td>
            <td>{{itemType.supplierControlled}}</td>
        </tr>
    </ng-template>
</p-table>