<div class="w-full border-2">
    <p-table [value]="itemTypeList" [resizableColumns]="true" [autoLayout]="true" 
    dataKey="code" styleClass="p-datatable-striped p-datatable-gridlines p-datatable-sm">
       <ng-template pTemplate="header" styleClass="w-full">
           <tr>
               <th pResizableColumn>Short description</th>
               <th pResizableColumn>Nature</th>
               <th pResizableColumn>Selling</th>
               <th pResizableColumn>Int. IT</th>
               <th pResizableColumn>Valid</th>
               <th pResizableColumn>Specific Type</th>
               <th pResizableColumn>Quality</th>
               <th pResizableColumn>Lot</th>
               <th pResizableColumn>Container</th>
               <th pResizableColumn>Element</th>
               <th pResizableColumn>Project</th>
               <th pResizableColumn>Customer</th>
               <th pResizableColumn>Supplier</th>
           </tr>
       </ng-template>
       <ng-template pTemplate="body" let-itemType>
           <tr class="cursor-pointer" [pSelectableRow]="itemType">
               <td>{{itemType.shortText}}</td>
               <td>{{itemType.itemNature}}</td>
               <td>
                   <p-checkbox [(ngModel)]="itemType.sellingType" [binary]="true" inputId="binary" [readonly]="true"></p-checkbox>
               </td>
               <td></td>
               <td>
                   <p-checkbox [(ngModel)]="itemType.valid" [binary]="true" inputId="binary" [readonly]="true"></p-checkbox>
               </td>
               <td></td>
               <td>
                   <p-checkbox [(ngModel)]="itemType.qualityControlled" [binary]="true" inputId="binary" [readonly]="true"></p-checkbox>
               </td>
               <td>
                   <p-checkbox [(ngModel)]="itemType.lotControlled" [binary]="true" inputId="binary" [readonly]="true"></p-checkbox>
               </td>
               <td>
                   <p-checkbox [(ngModel)]="itemType.containerControlled" [binary]="true" inputId="binary" [readonly]="true"></p-checkbox>
               </td>
               <td>
                   <p-checkbox [(ngModel)]="itemType.elementControlled" [binary]="true" inputId="binary" [readonly]="true"></p-checkbox>
               </td>
               <td>
                   <p-checkbox [(ngModel)]="itemType.projectControlled" [binary]="true" inputId="binary" [readonly]="true"></p-checkbox>
               </td>
               <td>
                   <p-checkbox [(ngModel)]="itemType.customerControlled" [binary]="true" inputId="binary" [readonly]="true"></p-checkbox>
               </td>
               <td>
                   <p-checkbox [(ngModel)]="itemType.supplierControlled" [binary]="true" inputId="binary" [readonly]="true"></p-checkbox>
               </td>
           </tr>
       </ng-template>
   </p-table>
</div>
<div>
    <p-menubar [model]="menus"></p-menubar>
</div>
<div style="height: 100%; border: 1px solid #eee">
    <as-split [useTransition]="true" unit="percent" [gutterSize]="10">
        <as-split-area [size]="30" [order]="1" [visible]="keepLeft">
            <app-quality-list></app-quality-list>
        </as-split-area>
        <as-split-area [size]="70" [order]="2" [visible]="keepRight">
            <app-data-quality 
            (qualityLevelFormGroupValue)="getFormValue($event)"></app-data-quality>
        </as-split-area>
    </as-split>
</div>
