<div>
    <p-menubar [model]="menus"></p-menubar>
</div>
<div>
    <p-menubar [model]="functionMenus"></p-menubar>
</div>
<div style="height: 100%; border: 1px solid #eee">
    <as-split [useTransition]="true" unit="percent" [gutterSize]="10">
        <as-split-area [size]="30" [order]="1" [visible]="keepLeft">
            <app-item-type-list></app-item-type-list>
        </as-split-area>
        <as-split-area [size]="70" [order]="2" [visible]="keepRight">
            <app-data-item-type 
            (itemTypeFormGroupValue)="getFormValue($event)"></app-data-item-type>
        </as-split-area>
    </as-split>
</div>


<p-sidebar [(visible)]="visibleQualityTemplate" [fullScreen]="true" [baseZIndex]="10000">
    <ng-template pTemplate="header">Quality Template</ng-template>
    <h3>Full Screen Sidebar</h3>
</p-sidebar>

<p-sidebar [(visible)]="visibleSubcodeTemplate" [fullScreen]="true" [baseZIndex]="10000">
    <ng-template pTemplate="header">Subcode Template</ng-template>
    <h3>Full Screen Sidebar</h3>
</p-sidebar>