<!-- <div>
    <p-menubar [model]="menus"></p-menubar>
</div>
<div>
    <p-menubar [model]="functionMenus"></p-menubar>
</div>
<div style="height: 100%; border: 1px solid #eee">
    <as-split [useTransition]="true" unit="percent" [gutterSize]="10">
        <as-split-area [size]="30" [order]="1" [visible]="keepLeft">
            <app-item-type-list></app-item-type-list>
        </as-split-area>
        <as-split-area [size]="70" [order]="2" [visible]="keepRight">
            <app-data-item-type 
            (itemTypeFormGroupValue)="getFormValue($event)"></app-data-item-type>
        </as-split-area>
    </as-split>
</div>

@if (visibleQualityTemplate) {
    <p-sidebar [(visible)]="visibleQualityTemplate" [fullScreen]="true" [baseZIndex]="10000" [showCloseIcon]="false" [closeOnEscape]="false">
        <ng-template pTemplate="header">Quality Template</ng-template>
        <app-main-quality></app-main-quality>
    </p-sidebar>
}

@if (visibleSubcodeTemplate) {
    <p-sidebar [(visible)]="visibleSubcodeTemplate" [fullScreen]="true" [baseZIndex]="10000" [showCloseIcon]="false" [closeOnEscape]="false">
        <ng-template pTemplate="header">Subcode Template</ng-template>
        <app-main-subcode></app-main-subcode>
    </p-sidebar>
}

@if (visibleBoMTemplate) {
    <p-sidebar [(visible)]="visibleBoMTemplate" [fullScreen]="true" [baseZIndex]="10000" [showCloseIcon]="false" [closeOnEscape]="false">
        <ng-template pTemplate="header">BoM Template</ng-template>
        <app-main-bom></app-main-bom>
    </p-sidebar>
}

@if (visibleRoutingTemplate) {
    <p-sidebar [(visible)]="visibleRoutingTemplate" [fullScreen]="true" [baseZIndex]="10000" [showCloseIcon]="false" [closeOnEscape]="false">
        <ng-template pTemplate="header">Routing Template</ng-template>
        <app-main-routing></app-main-routing>
    </p-sidebar>
} -->

<section class="flex flex-wrap gap-3 py-6 justify-content-between border-bottom-1 surface-border">
    <div class="flex-shrink-0 w-15rem">
        <h3 class="mb-4 mt-0 text-900 font-medium text-xl">Item Type List</h3>
        <p class="mb-4 mt-0 text-700 font-normal text-base">Edit item type in this project</p>
        <button pButton pRipple label="Add a Item Type" class="w-auto" (click)="new()"></button>
    </div>
    <div class="overflow-x-scroll">
        <p-table [value]="itemTypeList" [tableStyle]="{'min-width': '70rem'}" [rowHover]="true"
        [resizableColumns]="true" selectionMode="single"  dataKey="code" 
        styleClass="p-datatable-striped p-datatable-gridlines p-datatable-sm" [autoLayout]="true">
            <ng-template pTemplate="header">
                <tr>
                    <th pResizableColumn>Short description</th>
                    <th pResizableColumn>Nature</th>
                    <th pResizableColumn>Selling</th>
                    <th pResizableColumn>Int. IT</th>
                    <th pResizableColumn>Valid</th>
                    <th pResizableColumn>Specific Type</th>
                    <th pResizableColumn>Quality</th>
                    <th pResizableColumn>Lot</th>
                    <th pResizableColumn>Container</th>
                    <th pResizableColumn>Element</th>
                    <th pResizableColumn>Project</th>
                    <th pResizableColumn>Customer</th>
                    <th pResizableColumn>Supplier</th>
                    <th></th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-item>
                <tr class="cursor-pointer" [pSelectableRow]="item">
                    <td>{{item.shortText}}</td>
                    <td>{{item.itemNature}}</td>
                    <td>
                        <p-checkbox [(ngModel)]="item.sellingType" [binary]="true" inputId="binary" [readonly]="true"></p-checkbox>
                    </td>
                    <td></td>
                    <td>
                        <p-checkbox [(ngModel)]="item.valid" [binary]="true" inputId="binary" [readonly]="true"></p-checkbox>
                    </td>
                    <td></td>
                    <td>
                        <p-checkbox [(ngModel)]="item.qualityControlled" [binary]="true" inputId="binary" [readonly]="true"></p-checkbox>
                    </td>
                    <td>
                        <p-checkbox [(ngModel)]="item.lotControlled" [binary]="true" inputId="binary" [readonly]="true"></p-checkbox>
                    </td>
                    <td>
                        <p-checkbox [(ngModel)]="item.containerControlled" [binary]="true" inputId="binary" [readonly]="true"></p-checkbox>
                    </td>
                    <td>
                        <p-checkbox [(ngModel)]="item.elementControlled" [binary]="true" inputId="binary" [readonly]="true"></p-checkbox>
                    </td>
                    <td>
                        <p-checkbox [(ngModel)]="item.projectControlled" [binary]="true" inputId="binary" [readonly]="true"></p-checkbox>
                    </td>
                    <td>
                        <p-checkbox [(ngModel)]="item.customerControlled" [binary]="true" inputId="binary" [readonly]="true"></p-checkbox>
                    </td>
                    <td>
                        <p-checkbox [(ngModel)]="item.supplierControlled" [binary]="true" inputId="binary" [readonly]="true"></p-checkbox>
                    </td>
                    <td>
                        <button type="button" pButton icon="pi pi-ellipsis-v" class="p-button-text p-button-secondary" (click)="menu.toggle($event);handleMenu(item)"></button>
                        <p-menu #menu appendTo="body" [popup]="true" [model]="items"></p-menu>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</section>
<p-confirmDialog key="delete-uom" [style]="{width: '50vw'}" [baseZIndex]="10000" rejectButtonStyleClass="p-button-text"></p-confirmDialog>