<p-table [value]="costCategoryList" [resizableColumns]="true"
selectionMode="single" [(selection)]="selectedCostCategory" 
[autoLayout]="true" (onRowSelect)="onRowSelect($event)"
(onRowUnselect)="onRowUnselect()"
 dataKey="code" styleClass="p-datatable-striped p-datatable-gridlines p-datatable-sm">
    <ng-template pTemplate="header" styleClass="w-full">
        <tr>
            <th pResizableColumn>Short Text</th>
            <th pResizableColumn>Long Text</th>
            <th pResizableColumn>Search Text</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-category>
        <tr class="cursor-pointer" [pSelectableRow]="category">
            <td>{{category.shortText}}</td>
            <td>{{category.longText}}</td>
            <td>{{category.searchText}}</td>
        </tr>
    </ng-template>
</p-table>