.login-result-badge {
    border-radius: var(--border-radius);
    padding: .25em .5rem;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 12px;
    letter-spacing: .3px;

    &.status-SUCCESSFULL {
        background: #C8E6C9;
        color: #256029;
    }

    &.status-UNSUCCESSFULL {
        background: #FFCDD2;
        color: #C63737;
    }
}