<div>
    <p-menubar [model]="menus"></p-menubar>
</div>
<div style="height: 100%; border: 1px solid #eee">
    <as-split [useTransition]="true" unit="percent" [gutterSize]="10">
        <as-split-area [size]="30" [order]="1" [visible]="keepLeft">
            <app-cost-category-list></app-cost-category-list>
        </as-split-area>
        <as-split-area [size]="70" [order]="2" [visible]="keepRight">
            <app-data-cost-category
            (costCategoryFormGroupValue)="getFormValue($event)"></app-data-cost-category>
        </as-split-area>
    </as-split>
</div>