<div class="w-full border-2">
    <p-table [value]="compositionList" [resizableColumns]="true" [autoLayout]="true" 
    dataKey="code" styleClass="p-datatable-striped p-datatable-gridlines p-datatable-sm">
       <ng-template pTemplate="header" styleClass="w-full">
           <tr>
            <th pResizableColumn>Short Text</th>
            <th pResizableColumn>Long Text</th>
            <th pResizableColumn>Search Text</th>
            <th pResizableColumn>Valid</th>
           </tr>
       </ng-template>
       <ng-template pTemplate="body" let-composition>
        <tr class="cursor-pointer" [pSelectableRow]="composition">
            <td>{{composition.shortText}}</td>
            <td>{{composition.longText}}</td>
            <td>{{composition.searchText}}</td>
            <td>
                <p-checkbox [(ngModel)]="composition.valid" [binary]="true" inputId="binary" [readonly]="true"></p-checkbox>
            </td>
        </tr>
       </ng-template>
   </p-table>
</div>

<div>
    <p-menubar [model]="menus"></p-menubar>
</div>

<div style="height: 100%; border: 1px solid #eee">
    <as-split [useTransition]="true" unit="percent" [gutterSize]="10">
        <as-split-area [size]="30" [order]="1" [visible]="keepLeft">
            <app-composition-detail-list></app-composition-detail-list>
        </as-split-area>
        <as-split-area [size]="70" [order]="2" [visible]="keepRight">
            <app-data-composition-detail 
            (compositionDetailFormGroupValue)="getFormValue($event)"></app-data-composition-detail>
        </as-split-area>
    </as-split>
</div>
