<p-panel>
    <ng-template pTemplate="header">
                <button  (click)="changeKeepLeft()" pButton pRipple type="button" [icon]="keepLeft ? 'pi pi-angle-double-left' : 'pi pi-angle-double-right'" class="p-button-rounded p-button-text"></button> 
    </ng-template>
    <ng-template pTemplate="icons">
        <button  (click)="closeSplitter()" pButton pRipple type="button" icon="pi pi-times" class="p-button-rounded p-button-danger p-button-text"></button> 
    </ng-template>
    <form [formGroup]="itemTypeForm">
    <p-tabView>
        <p-tabPanel header="Temel">
            <div class="">
              <fieldset>
                <legend>
                  Açıklama
                </legend>
                <div class="field flex flex-wrap align-items-center">
                  <label for="shortText" style="min-width:100px;" class="w-3">Short</label>
                  <div class="w-9">
                    <input id="shortText" type="text" pInputText formControlName="shortText"/> 
                  </div>
              </div>
              <div class="field flex flex-wrap align-items-center">
                <label for="longText" style="min-width:100px;" class="w-3">Long</label>
                <div class="w-9">
                  <input id="longText" type="text" pInputText formControlName="longText"/> 
                </div>
            </div>
            <div class="field flex flex-wrap align-items-center">
              <label for="searchText" style="min-width:100px;" class="w-3">Search</label>
              <div class="w-9">
                <input id="searchText" type="text" pInputText formControlName="searchText"/> 
              </div>
          </div>
              </fieldset>
  
            
            <div class="field flex flex-wrap align-items-center p-3">
                <label for="itemNature" style="min-width:100px;" class="w-3">Item nature</label>
                <div class="w-9">
                  <p-dropdown styleClass="w-full md:w-3" optionValue="code" placeholder="Seçim Yapınız" inputId="itemNature" [autoDisplayFirst]="false" [options]="itemNatures" formControlName="itemNature" optionLabel="name"></p-dropdown>
                </div>
            </div>

            <div class="field flex flex-wrap align-items-center p-3">
                <label for="maxCodeLength" style="min-width:100px;" class="w-3">Max code length</label>
                <div class="w-9">
                    <p-inputNumber inputId="maxCodeLength" formControlName="maxCodeLength">
                    </p-inputNumber>
                </div>
            </div>

            <div class="field flex flex-wrap align-items-center p-3">
                <label for="sellingType" style="min-width:100px;" class="w-3">Selling type</label>
                <div class="w-9">
                    <p-checkbox formControlName="sellingType" [binary]="true" inputId="sellingType"></p-checkbox>
                </div>
            </div>
    
            <div class="field flex flex-wrap align-items-center p-3">
                <label for="valid" style="min-width:100px;" class="w-3">Valid</label>
                <div class="w-9">
                    <p-checkbox formControlName="valid" [binary]="true" inputId="valid"></p-checkbox>
                </div>
            </div>

            <div class="field flex flex-wrap align-items-center p-3">
                <label for="managedByBox" style="min-width:100px;" class="w-3">Managed by box</label>
                <div class="w-9">
                    <p-checkbox formControlName="managedByBox" [binary]="true" inputId="managedByBox"></p-checkbox>
                </div>
            </div>

            <div class="field flex flex-wrap align-items-center p-3">
                <label for="handleComponentStatus" style="min-width:100px;" class="w-3">Handle component status</label>
                <div class="w-9">
                    <p-checkbox formControlName="handleComponentStatus" [binary]="true" inputId="handleComponentStatus"></p-checkbox>
                </div>
            </div>
            </div>
            
          
          
        </p-tabPanel>
        <p-tabPanel header="Setup">
            <div class="field flex flex-wrap align-items-center p-3">
                <label for="structure" style="min-width:100px;" class="w-3">Structure</label>
                <div class="w-9">
                  <p-dropdown styleClass="w-full md:w-3" optionValue="code" placeholder="Seçim Yapınız" inputId="structure" [autoDisplayFirst]="false" [options]="structures" formControlName="structure" optionLabel="name"></p-dropdown>
                </div>
            </div>

            <div class="field flex flex-wrap align-items-center p-3">
                <label for="statusAllowed" style="min-width:100px;" class="w-3">Status allowed</label>
                <div class="w-9">
                  <p-dropdown styleClass="w-full md:w-3" optionValue="code" placeholder="Seçim Yapınız" inputId="statusAllowed" [autoDisplayFirst]="false" [options]="statusAlloweds" formControlName="statusAllowed" optionLabel="name"></p-dropdown>
                </div>
            </div>

            <div class="field flex flex-wrap align-items-center p-3">
                <label for="primaryUOM" style="min-width:100px;" class="w-3">Primary UoM</label>
                <div class="w-9">
                  <p-dropdown styleClass="w-full md:w-3" placeholder="Seçim Yapınız" inputId="primaryUOM" [autoDisplayFirst]="false" [options]="uomList" formControlName="primaryUOM" optionLabel="shortText"></p-dropdown>
                </div>
            </div>

            <div class="field flex flex-wrap align-items-center p-3">
                <label for="secondaryUnitControlled" style="min-width:100px;" class="w-3">Secondary unit controlled</label>
                <div class="w-9">
                    <p-checkbox (onChange)="changeSecondaryUoM($event.checked)" formControlName="secondaryUnitControlled" [binary]="true" inputId="secondaryUnitControlled"></p-checkbox>
                </div>
            </div>

            @if (secondaryUOMVisible) {
                <div class="field flex flex-wrap align-items-center p-3">
                    <label for="secondaryUOM" style="min-width:100px;" class="w-3">Secondary UoM</label>
                    <div class="w-9">
                      <p-dropdown styleClass="w-full md:w-3" placeholder="Seçim Yapınız" inputId="secondaryUOM" [autoDisplayFirst]="false" [options]="uomList" formControlName="secondaryUOM" optionLabel="shortText"></p-dropdown>
                    </div>
                </div>
    
                <div class="field flex flex-wrap align-items-center p-3">
                    <label for="secondaryConversionFactor" style="min-width:100px;" class="w-3">Secondary conversion factor</label>
                    <div class="w-9">
                        <p-inputNumber inputId="secondaryConversionFactor" formControlName="secondaryConversionFactor" mode="decimal"></p-inputNumber>
                    </div>
                </div>                
            }

            <div class="field flex flex-wrap align-items-center p-3">
                <label for="packagingUnitControlled" style="min-width:100px;" class="w-3">Packaging unit controlled</label>
                <div class="w-9">
                    <p-checkbox (onChange)="changePackagingUoM($event.checked)" formControlName="packagingUnitControlled" [binary]="true" inputId="packagingUnitControlled"></p-checkbox>
                </div>
            </div>

            @if (packagingUOMVisible) {
                <div class="field flex flex-wrap align-items-center p-3">
                    <label for="baseUoMPackagingType" style="min-width:100px;" class="w-3">Base UoM for packaging type</label>
                    <div class="w-9">
                      <p-dropdown styleClass="w-full md:w-3" optionValue="code" placeholder="Seçim Yapınız" inputId="baseUoMPackagingType" [autoDisplayFirst]="false" [options]="basePackagingTypes" formControlName="baseUoMPackagingType" optionLabel="name"></p-dropdown>
                    </div>
                </div>
    
                <div class="field flex flex-wrap align-items-center p-3">
                    <label for="packagingUOM" style="min-width:100px;" class="w-3">Packaging UoM</label>
                    <div class="w-9">
                      <p-dropdown styleClass="w-full md:w-3" placeholder="Seçim Yapınız" inputId="packagingUOM" [autoDisplayFirst]="false" [options]="packagingUOMList" formControlName="packagingUOM" optionLabel="shortText"></p-dropdown>
                    </div>
                </div>
    
                <div class="field flex flex-wrap align-items-center p-3">
                    <label for="packagingConversionFactor" style="min-width:100px;" class="w-3">Packaging conversion factor</label>
                    <div class="w-9">
                        <p-inputNumber inputId="packagingConversionFactor" formControlName="packagingConversionFactor" mode="decimal"></p-inputNumber>
                    </div>
                </div>      
            }

            <fieldset class="field">
                <legend>
                    <div class="field-checkbox">
                        <p-checkbox formControlName="qualityControlled" [binary]="true" inputId="qualityControlled"></p-checkbox>
                        <label for="qualityControlled">Quality controlled</label>
                    </div>
                </legend>
            </fieldset>

            <fieldset class="field">
                <legend>
                    <div class="field-checkbox">
                        <p-checkbox formControlName="lotControlled" [binary]="true" inputId="lotControlled"></p-checkbox>
                        <label for="lotControlled">Lot controlled</label>
                    </div>
                </legend>
            </fieldset>

            <fieldset class="field">
                <legend>
                    <div class="field-checkbox">
                        <p-checkbox formControlName="containerControlled" [binary]="true" inputId="containerControlled"></p-checkbox>
                        <label for="containerControlled">Container controlled</label>
                    </div>
                </legend>
            </fieldset>


            <fieldset class="field">
                <legend>
                    <div class="field-checkbox">
                        <p-checkbox formControlName="elementControlled" [binary]="true" inputId="elementControlled"></p-checkbox>
                        <label for="elementControlled">Element controlled</label>
                    </div>
                </legend>
            </fieldset>


            <fieldset class="field">
                <legend>
                    Controlled
                </legend>
                <div class="field flex flex-wrap align-items-center p-3">
                    <label for="projectControlled" style="min-width:100px;" class="w-3">Project controlled</label>
                    <div class="w-9">
                        <p-checkbox formControlName="projectControlled" [binary]="true" inputId="projectControlled"></p-checkbox>
                    </div>
                </div>
                <div class="field flex flex-wrap align-items-center p-3">
                    <label for="customerControlled" style="min-width:100px;" class="w-3">Customer controlled</label>
                    <div class="w-9">
                        <p-checkbox formControlName="customerControlled" [binary]="true" inputId="customerControlled"></p-checkbox>
                    </div>
                </div>

                <div class="field flex flex-wrap align-items-center p-3">
                    <label for="supplierControlled" style="min-width:100px;" class="w-3">Supplier controlled</label>
                    <div class="w-9">
                        <p-checkbox formControlName="supplierControlled" [binary]="true" inputId="supplierControlled"></p-checkbox>
                    </div>
                </div>
            </fieldset>
        </p-tabPanel>
    </p-tabView>
</form>
</p-panel>