<p-table [value]="unitOfMeasureList"
selectionMode="single" [(selection)]="selectedUoM" 
[autoLayout]="true" (onRowSelect)="onRowSelect($event)"
 dataKey="code" styleClass="p-datatable-striped p-datatable-gridlines">
    <ng-template pTemplate="header" styleClass="w-full">
        <tr>
            <th>Short Text</th>
            <th>Long Text</th>
            <th>Search Text</th>
            <th>Type</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-uom>
        <tr class="cursor-pointer" [pSelectableRow]="uom">
            <td>{{uom.shortText}}</td>
            <td>{{uom.longText}}</td>
            <td>{{uom.searchText}}</td>
            <td>{{uom.unitOfMeasureType}}</td>
        </tr>
    </ng-template>
</p-table>