<p-panel>
    <ng-template pTemplate="header">
                <button  (click)="changeKeepLeft()" pButton pRipple type="button" [icon]="keepLeft ? 'pi pi-angle-double-left' : 'pi pi-angle-double-right'" class="p-button-rounded p-button-text"></button> 
    </ng-template>
    <ng-template pTemplate="icons">
        <button  (click)="closeSplitter()" pButton pRipple type="button" icon="pi pi-times" class="p-button-rounded p-button-danger p-button-text"></button> 
    </ng-template>
    <p-tabView>
        <p-tabPanel header="Temel">
          <form [formGroup]="costLevelForm">
            <div class="">
              <fieldset>
                <legend>
                  Açıklama
                </legend>
                <div class="field flex flex-wrap align-items-center">
                  <label for="shortText" style="min-width:100px;" class="w-3">Short</label>
                  <div class="w-9">
                    <input id="shortText" type="text" pInputText formControlName="shortText"/> 
                  </div>
              </div>
              <div class="field flex flex-wrap align-items-center">
                <label for="longText" style="min-width:100px;" class="w-3">Long</label>
                <div class="w-9">
                  <input id="longText" type="text" pInputText formControlName="longText"/> 
                </div>
            </div>
            <div class="field flex flex-wrap align-items-center">
              <label for="searchText" style="min-width:100px;" class="w-3">Search</label>
              <div class="w-9">
                <input id="searchText" type="text" pInputText formControlName="searchText"/> 
              </div>
          </div>
              </fieldset>
  
        
    
            </div>
            
          </form>
          
        </p-tabPanel>
    </p-tabView>
</p-panel>