<p-table [value]="itemSubCodeList" [resizableColumns]="true"
selectionMode="single" [(selection)]="itemSubCodeList" 
[autoLayout]="true" (onRowSelect)="onRowSelect($event)"
(onRowUnselect)="onRowUnselect()"
 dataKey="code" styleClass="p-datatable-striped p-datatable-gridlines p-datatable-sm">
    <ng-template pTemplate="header" styleClass="w-full">
        <tr>
            <th pResizableColumn>Short description</th>
            <th pResizableColumn>Long description</th>
            <th pResizableColumn>Search description</th>
            <th pResizableColumn>Position</th>
            <th pResizableColumn>Length</th>
            <th pResizableColumn>Type</th>
            <th pResizableColumn>Mandatory</th>
            <th pResizableColumn>Data Type</th>
            <th pResizableColumn>Int. output separator</th>
            <th pResizableColumn>Warehouse management</th>
            <th pResizableColumn>Excluded from cost management</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-subcode>
        <tr class="cursor-pointer" [pSelectableRow]="subcode">
            <td>{{subcode.shortText}}</td>
            <td>{{subcode.longText}}</td>
            <td>{{subcode.searchText}}</td>
            <td>{{subcode.position}}</td>
            <td>{{subcode.length}}</td>
            <td>{{subcode.type}}</td>
            <td>
                <p-checkbox [(ngModel)]="subcode.mandatory" [binary]="true" inputId="binary" [readonly]="true"></p-checkbox>
            </td>
            <td>{{subcode.itemSubCodeDataType}}</td>
            <td>{{subcode.outputSeparator}}</td>
            <td>
                <p-checkbox [(ngModel)]="subcode.wareHouseManagement" [binary]="true" inputId="binary" [readonly]="true"></p-checkbox>
            </td>
            <td>
                <p-checkbox [(ngModel)]="subcode.excludedCostManagement" [binary]="true" inputId="binary" [readonly]="true"></p-checkbox>
            </td>
        </tr>
    </ng-template>
</p-table>