<p-table [value]="qualityLevelList" [resizableColumns]="true"
selectionMode="single" [(selection)]="selectedQualityLevel" 
[autoLayout]="true" (onRowSelect)="onRowSelect($event)"
(onRowUnselect)="onRowUnselect()"
 dataKey="code" styleClass="p-datatable-striped p-datatable-gridlines p-datatable-sm">
    <ng-template pTemplate="header" styleClass="w-full">
        <tr>
            <th pResizableColumn>Short description</th>
            <th pResizableColumn>Long description</th>
            <th pResizableColumn>Search description</th>
            <th pResizableColumn>Level</th>
           
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-quality>
        <tr class="cursor-pointer" [pSelectableRow]="quality">
            <td>{{quality.shortText}}</td>
            <td>{{quality.longText}}</td>
            <td>{{quality.seachText}}</td>
            <td>{{quality.level}}</td>
        </tr>
    </ng-template>
</p-table>